.nav-link.active {
  color: red !important;
}

.search-box {
  position: relative;
  width: 200px;
}

.search-input {
  width: 100%;
  padding: 10px 20px 10px 40px; /* Sola doğru ekstra padding */
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
  color: #fff;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 20px;
}

.search-input:focus {
  border-color: #007bff; /* Fokus durumunda border rengi */
}
